{% extends "base_backend.html" %}
{% block title %}เพิ่มข้อมูลโรงเรียน{% endblock title %}
{% block body %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">เพิ่มข้อมูลโรงเรียน</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'home_backend' %}">หน้าหลัก</a></li>
            <li class="breadcrumb-item active">เพิ่มข้อมูลโรงเรียน</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                เพิ่มข้อมูลโรงเรียน
            </div>
            <div class="card-body">
                <form action="{% url 'addschool' %}" method="post">
                    {% csrf_token %}
                    <h3>เพิ่มข้อมูลโรงเรียน</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">ชื่อโรงเรียน</label>
                            <input type="text" name="name_school" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">ขนาดโรงเรียน</label>
                            <select id="inputState" name="size_school" class="form-select">
                                <option selected>เลือกขนาดโรงเรียน</option>
                                <option value="โรเรียนขนาดเล็ก">โรเรียนขนาดเล็ก</option>
                                <option value="โรงเรียนขนาดกลาง">โรงเรียนขนาดกลาง</option>
                                <option value="โรงเรียนขนาดใหญ่">โรงเรียนขนาดใหญ่</option>
                                <option value="โรงเรียนขนาดใหญ่พิเศษ">โรงเรียนขนาดใหญ่พิเศษ</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="inputAddress" class="form-label">ตำบล</label>
                            <input type="text" name="zone_school" class="form-control" id="inputAddress"
                                placeholder="1234 Main St">
                        </div>
                        <div class="col-4">
                            <label for="inputAddress" class="form-label">อำเภอ</label>
                            <input type="text" name="district_school" class="form-control" id="inputAddress"
                                placeholder="1234 Main St">
                        </div>
                        <div class="col-4">
                            <label for="inputAddress" class="form-label">จังหวัด</label>
                            <input type="text" name="province_school" class="form-control" id="inputAddress"
                                placeholder="1234 Main St">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputCity" class="form-label">ละติจูด</label>
                            <input type="text" name="Latitude" class="form-control" id="inputCity">
                        </div>
                        <div class="col-md-6">
                            <label for="inputCity" class="form-label">ลองจิจูด</label>
                            <input type="text" name="Longitude" class="form-control" id="inputCity">
                        </div>
                    </div>
                    {% for messages in messages %}
                    <p style="color: green;">{{messages}}</p>
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-warning" onclick="addschool()">เพิ่มข้อมูล</button>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    function addschool() {
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Your work has been saved',
            showConfirmButton: false,
            timer: 1500
        })
    }
</script>
{% endblock body %}