{% extends 'base_backend.html' %} {% block title %}Predictive{% endblock title%} {% block body %}
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 1000px;
        width: auto;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    td.fitwidth {
        width: auto;
        white-space: nowrap;
    }

    table.autowidth td {
        white-space: nowrap;
    }

    th.text {
        text-align: center;
    }

    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 80%;
    }
</style>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">ทำนายข้อมูล</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">
                <a href="{% url 'home_backend' %}">หน้าหลัก</a>
            </li>
            <li class="breadcrumb-item active">ทำนายข้อมูล</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                ข้อมูลรุ่น
            </div>
            <div class="card-body">
                <form action="{% url 'student_list' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="setdata[]" />
                    <div class="form-group">
                        <label for="class_student">ค้นหาข้อมูล</label>
                        <select name="class_student" id="class_student" class="custom-select custom-select-lg mb-3"
                            multiple>
                            <option value="">เลือก</option>
                            <option value="รุ่น61">รุ่น 61</option>
                            <option value="รุ่น62">รุ่น 62</option>
                            <option value="รุ่น63">รุ่น 63</option>
                            <option value="รุ่น64">รุ่น 64</option>
                            <option value="รุ่น65">รุ่น 65</option>
                            <option value="รุ่น66">รุ่น 66</option>
                            <option value="รุ่น67">รุ่น 67</option>
                            <option value="รุ่น68">รุ่น 68</option>
                            <option value="รุ่น69">รุ่น 69</option>
                            <option value="รุ่น70">รุ่น 70</option>
                        </select>
                        <button type="submit" class="btn btn-primary">ค้นหา</button>
                    </div>
                </form>
                <form id="Myform" action="{% url 'result' %}"  method="POST">
                    {% csrf_token %}
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            ข้อมูลนักศึกษาสาขาวิทยาการคอมพิวเตอร์
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple" class="stripe row-border order-column" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>เลือก</th>
                                        <th>ชื่อ</th>
                                        <th>รุ่น</th>
                                        <th>เกรดมัธยม</th>
                                        <th>เขียนโปรแกรม</th>
                                        <th>อบรมเขียนโปรแกรม</th>
                                        <th>แผนการเรียน</th>
                                        <th>รอบที่มาสมัคร</th>
                                        <th>ขนาดโรงเรียน</th>
                                        <th>สถานะครอบครัว</th>
                                        <th>รายได้ครอบครัว</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>เลือก</th>
                                        <th>ชื่อ</th>
                                        <th>รุ่น</th>
                                        <th>เกรดมัธยม</th>
                                        <th>เขียนโปรแกรม</th>
                                        <th>อบรมเขียนโปรแกรม</th>
                                        <th>แผนการเรียน</th>
                                        <th>รอบที่มาสมัคร</th>
                                        <th>ขนาดโรงเรียน</th>
                                        <th>สถานะครอบครัว</th>
                                        <th>รายได้ครอบครัว</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for std in sd %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="checkbox[]" value="{{std.id}}" id="" />
                                            {{std.id}}
                                        </td>
                                        <td>{{std.gender}}{{std.name}}</td>
                                        <td>{{std.class_student}}</td>
                                        <td>
                                            <input name="GPA" type="text" value="{{std.GPA}}" />
                                        </td>
                                        <td>
                                            <input name="write_program" type="text" value="{{std.write_program_no}}" />
                                        </td>
                                        <td>
                                            <input name="trainprogram" type="text" value="{{std.trainprogram_no}}" />
                                        </td>
                                        <td>
                                            <input name="plan" type="text" value="{{std.plan_no}}" />
                                        </td>
                                        <td>
                                            <input name="round_apply" type="text" value="{{std.round_apply_no}}" />
                                        </td>
                                        <td>
                                            <input name="school_size" type="text" value="{{std.school_size_no}}" />
                                        </td>
                                        <td>
                                            <input name="status_family" type="text" value="{{std.status_family_no}}" />
                                        </td>
                                        <td>
                                            <input name="family_income_per_month" type="text"
                                                value="{{std.family_income_per_month_no}}" />
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-warning btn-lg">
                        ทำนายข้อมูล
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function () {
        $('#datatablesSimple').DataTable();
       $("#datatablesSimple").DataTable({
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            columnDefs: [{ width: "20%", targets: 0 }],
            fixedColumns: true,
        }); 
    });
    
</script>
{% endblock body %}