{% extends 'base_backend.html' %}
{% block title %}ข้อมูลโรงเรียน{% endblock title %}
{% load static %}
{% block body %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">ตารางข้อมูลนักศึกษา</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'home_backend' %}">หน้าหลัก</a></li>
            <li class="breadcrumb-item active">ตารางข้อมูลนักศึกษา</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <img src="{% static 'img/school.png' %}" width="25px" alt="">
                ข้อมูลนักศึกษาสาขาวิทยาการคอมพิวเตอร์ จำนวน {{sc}} โรงเรียน &nbsp;
                <a href="{% url 'addschool_backend' %}" class="btn btn-primary">เพิ่มโรงเรียน</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th style="text-align: center;">ชื่อโรงเรียน</th>
                            <th style="text-align: center;">ขนาดโรงเรียน</th>
                            <th style="text-align: center;">ตำบล</th>
                            <th style="text-align: center;">อำเภอ</th>
                            <th style="text-align: center;">จังหวัด</th>
                            <th style="text-align: center;">แก้ไข/ลบ</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>คำนำหน้า</th>
                            <th>ชื่อ</th>
                            <th>ชั้นปีที่</th>
                            <th>รอบสมัคร</th>
                            <th>โรงเรียนที่จบการศึกษา</th>
                            <th style="text-align: center;">แก้ไข/ลบ</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for school in school %}
                        <tr>
                            <td>{{school.name_school}}</td>
                            <td style="text-align: center;">{{school.size_school}}</td>
                            <td style="text-align: center;">{{school.zone_school}}</td>
                            <td style="text-align: center;">{{school.district_school}}</td>
                            <td style="text-align: center;">{{school.province_school}}</td>
                            <td style="text-align: center;"><a href="{% url 'schooldetail' school.id %}" class="btn btn-warning">ดูข้อมูล</a> / <a href="{% url 'remove_school' school.id %}" class="btn btn-danger" onclick="return confirm('คุณต้องการลบ {{school.name_school}} หรือไม่?')">ลบข้อมูล</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function del() {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                            icon: "success",
                        });
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
        }
    </script>
</main>
{% endblock body %}