{% extends 'base_backend.html' %}
{% block title %}ตารางนักศึกษา{% endblock title %}
{% block body %}
<style>
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        margin: 0 auto;
    }
 
    div.container {
        width: 80%;
    }
    p{
        color: green;
    }
</style>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">ตารางข้อมูลนักศึกษา</h1>
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'home_backend' %}">หน้าหลัก</a></li>
            <li class="breadcrumb-item active">ตารางข้อมูลนักศึกษา</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                ข้อมูลนักศึกษาสาขาวิทยาการคอมพิวเตอร์ จำนวนนักศึกษาทั้งหมด {{count}} คน
            </div>
            <div class="card-body">
                <table id="datatablesSimple" class="stripe row-border order-column" style="width:100%">
                    <thead>
                        <tr>
                            <th style="text-align: center;">คำนำหน้า</th>
                            <th style="text-align: center;">ชื่อ</th>
                            <th style="text-align: center;">ชั้นปีที่</th>
                            <th style="text-align: center;">รอบสมัคร</th>
                            <th style="text-align: center;">โรงเรียนที่จบการศึกษา</th>
                            <th style="text-align: center;">แก้ไข/ลบ</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>คำนำหน้า</th>
                            <th>ชื่อ</th>
                            <th>ชั้นปีที่</th>
                            <th>รอบสมัคร</th>
                            <th>โรงเรียนที่จบการศึกษา</th>
                            <th style="text-align: center;">แก้ไข/ลบ</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for std in std %}
                        <tr>
                            <td>{{std.gender}}</td>
                            <td>{{std.name}}</td>
                            <td>{{std.class_student}}</td>
                            <td>{{std.round_apply}}</td>
                            <td>{{std.school}}</td>
                            <td style="text-align: center;"><a href="{% url 'studentdetail' std.id %}" class="btn btn-warning btn-sm">ดูข้อมูล</a> / <a href="{% url 'remove' std.id %}" class="btn btn-danger btn-sm" onclick="return confirm('คุณต้องการลบ {{std.name}} หรือไม่?')">ลบข้อมูล</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            var table = $('#datatablesSimple').DataTable( {
                scrollY:        "300px",
                scrollX:        true,
                scrollCollapse: true,
                paging:         false,
                columnDefs: [
                    { width: '20%', targets: 0 }
                ],
                fixedColumns: true
            } );
        } );
    </script>
</main>
{% endblock body %}