{% extends 'base_frontend.html' %}
{% load static %}
{% block title %}หน้าหลัก{% endblock title %}
{% block body %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4"></h1>
        <div class="card mb-4">
            <div class="jumbotron">
                <img src="{% static 'images/bru.png' %}" class="rounded float-left" alt="..." width="10%">
                <h1 class="display-4">สาขาวิทยาการคอมพิวเตอร์ <br> มหาวิทยาลัยราชภัฎบุรีรัมย์</h1>
                <p class="lead">มุ่งผลิตบัณฑิตให้มีองค์ความรู้ด้านวิทยาการคอมพิวเตอร์ที่ทันสมัย สามารถคิดวิเคราะห์อย่างเป็นระบบ และประยุกต์ความรู้สู่การปฏิบัติโดยยึดมั่นในจรรยาบรรณทางวิชาชีพ สาขาวิทยาการคอมพิวเตอร์มีความสำคัญต่อการพัฒนาประเทศและสามารถสร้างองค์ความรู้ใหม่ให้กับประเทศเป็นจำนวนมาก เป็นศาสตร์ที่สามารถประยุกต์ในการขับเคลื่อนเชิงธุรกิจทั้งในระดับท้องถิ่นและในระดับนานาชาติ</p>
                <hr class="my-4">
                <h4>สามารถติดตามข่าวสารได้ที่เว็บไซต์สาขาวิทยาการคอมพิวเตอร์ มหาวิทยาลัยราชภัฎบุรีรัมย์</h4>
                <a class="btn btn-primary btn-lg" href="https://cs.bru.ac.th/" role="button">เว็บไซต์</a>
              </div>
        </div>
    </div>
</main>
{% endblock body%}