{% extends 'base_frontend.html' %}
{% block title %}หน้าหลัก{% endblock title %}
{% block body %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4"></h1>
        <div class="card mb-4">
            <div class="jumbotron">
                <h1 class="display-4">สาขาวิทยาการคอมพิวเตอร์ <br> มหาวิทยาลัยราชภัฎบุรีรัมย์</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <h4>สามารถติดตามข่าวสารได้ที่เว็บไซต์สาขาวิทยาการคอมพิวเตอร์ มหาวิทยาลัยราชภัฎบุรีรัมย์</h4>
                <a class="btn btn-primary btn-lg" href="https://cs.bru.ac.th/" role="button">เว็บไซต์</a>
              </div>
        </div>
    </div>
</main>
{% endblock body%}